CHECKOUT_PROVIDER=Stripe Payment Links
STRIPE_SOLO_URL=https://buy.stripe.com/test_solo_link
STRIPE_STUDIO_URL=https://buy.stripe.com/test_studio_link
STRIPE_AGENCY_URL=https://buy.stripe.com/test_agency_link
STRIPE_SETUP_URL=https://buy.stripe.com/test_setup_link
ADMIN_TOKEN=change-this-before-deploy
